body {
    margin: 0;
  }
  h1 {
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  background-color: rgb(155, 89, 182, 0.15);
  height: 100px;
  
  }
  
  a { text-decoration: none;}
  
  ol {
  border-right: 1px solid gray;
  width: 100px;
  margin: 0;
  padding: 20px;
  background-color: rgba(142, 68, 173, 0.22)
  }
  
  #grid {
  
  display: grid;
  grid-template-columns: 150px 1fr;
  }
  
  @media(max-width :800px){
  #grid {
      display: block;
  }
  #grid ol {
      border-right: none;
  }
  h1 {
      border-bottom: none;
  }
  
  }