body {
    margin: 0;
  }

    h1 {
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0px;
    padding: 50px;
    background-color: rgb(155, 89, 182, 0.15);
    }
  
    a { text-decoration: none;}
  
    ul  {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(155, 89, 182, 0.15);
    }
    li {
        float: left;
    }

    li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

.active {
  background-color: rgba(142, 68, 173, 0.22);
}

    .left_menu {
    list-style-type: none;
    border-right: 1px solid gray;
    width: 180px;
    margin: 0;
    
    background-color: rgba(142, 68, 173, 0.22)
    }




    .left_menu2 {
    list-style-type: none;
    border-right: 1px solid gray;
    width: 140px;
    margin: 0;
    
    background-color: rgba(142, 68, 173, 0.22)
    }
  

    .left_menu .left_menu3 {
        display: none;
    }

    .left_menu .left_menu2 > li > a:hover ~ .left_menu3 {
        display: block;
    }        
    

    #grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    }
  
    @media(max-width :800px){
    #grid {
      display: block;
    }
    #grid ol {
      border-right: none;
    }
    h1 {
      border-bottom: none;
    }
  
    }

    @import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
		html {
		height: 100%;
	}
	    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
		.form-signin .form-control {
  		position: relative;
  		height: auto;
  		-webkit-box-sizing: border-box;
     	-moz-box-sizing: border-box;
        	 box-sizing: border-box;
  		padding: 10px;
  		font-size: 16px;
	}



  
     