body {
    margin: 0;
  }

    h1 {
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0px;
    padding: 50px;
    background-color: rgb(155, 89, 182, 0.15);
    }
  
    a { text-decoration: none;}
  
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(155, 89, 182, 0.15);
    }
    li {
        float: left;
    }

    li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: rgba(142, 68, 173, 0.22);
}






    ol {
    list-style-type: none;
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    padding: 30px;
    background-color: rgba(142, 68, 173, 0.22)
    }
  
    #grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    }
  
    @media(max-width :800px){
    #grid {
      display: block;
    }
    #grid ol {
      border-right: none;
    }
    h1 {
      border-bottom: none;
    }
  
    }